In [1]:
#import dependencies
import pandas as pd
from pathlib import Path

In [2]:
#import files
dailyweatherdatafile = Path("Resources/daily_weather_data.csv")
globalsustainabledatafile = Path("Resources/global-data-on-sustainable-energy (1).csv")
worldpopulationfile = Path("Resources/world_population.csv")

In [3]:
#load files into Pandas
dailyweatherdata = pd.read_csv(dailyweatherdatafile)
globalsustainabledata = pd.read_csv(globalsustainabledatafile)
worldpopulationdata = pd.read_csv(worldpopulationfile)

In [4]:
worldpopulationdata.rename(columns = {'Country/Territory':'Country'}, inplace=True)
worldpopulationdata = worldpopulationdata.drop(worldpopulationdata.columns[[0,1,3,4,5,7,8,9,10,11,12,13,14,15,16]], axis=1)
worldpopulationdata

               Country  2020 Population
0          Afghanistan         38972230
1              Albania          2866849
2              Algeria         43451666
3       American Samoa            46189
4              Andorra            77700
..                 ...              ...
229  Wallis and Futuna            11655
230     Western Sahara           556048
231              Yemen         32284046
232             Zambia         18927715
233           Zimbabwe         15669666

[234 rows x 2 columns]

In [5]:
dailyweatherdata.head()

,date,country,city,Latitude,Longitude,tavg,tmin,tmax,wdir,wspd,pres
0,21-07-2018,Abkhazia,Sukhumi,43.001525,41.023415,23.4,20.9,25.5,329.0,9.3,1009.6
1,22-07-2018,Abkhazia,Sukhumi,43.001525,41.023415,23.5,21.0,25.7,337.0,9.4,1010.0
2,23-07-2018,Abkhazia,Sukhumi,43.001525,41.023415,23.5,21.1,25.5,41.0,8.2,1007.7
3,24-07-2018,Abkhazia,Sukhumi,43.001525,41.023415,24.3,20.8,27.1,10.0,9.3,1004.4
4,25-07-2018,Abkhazia,Sukhumi,43.001525,41.023415,26.5,22.7,30.0,9.0,9.7,1002.0

In [6]:
#clean weather data by deleting columns and renaming them
dailyweatherdata = dailyweatherdata.drop(dailyweatherdata.columns[[2,3,4,6,7,8,9,10]], axis=1)
dailyweatherdata.rename(columns = {'country':'Country', 'tavg':'Average Temp'}, inplace=True)
dailyweatherdata['date'] = dailyweatherdata['date'].astype('datetime64[ns]')
dailyweatherdata = dailyweatherdata[(dailyweatherdata['date'] > "2019-01-01") & (dailyweatherdata['date'] <= "2019-12-31")]
dailyweatherdata = dailyweatherdata.dropna()

C:\Users\danik\AppData\Local\Temp\ipykernel_17244\2589375162.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  dailyweatherdata['date'] = dailyweatherdata['date'].astype('datetime64[ns]')

In [7]:
#average weather for each country (2019)
averageweatherbycountry = dailyweatherdata.groupby(["Country"])["Average Temp"].mean()
avtempsummary = pd.DataFrame({"Average Temp": averageweatherbycountry})

avtempsummary

                   Average Temp
Country
Abkhazia              14.643956
Aland Islands          7.092011
Albania               16.579670
Algeria               19.455220
American Samoa        27.407967
...                         ...
Vatican City          16.878846
Venezuela             26.353297
Vietnam               24.824176
Wallis and Futuna     27.415385
Western Sahara        19.821491

[184 rows x 1 columns]

In [8]:
globalsustainabledata.head()
global2019 = globalsustainabledata[globalsustainabledata["Year"] == 2019]
global2019 = global2019.drop(global2019.columns[[1,2,3,4,5,12,14,15,16,17,18]], axis=1)
global2019.rename(columns = {'Entity':'Country', 
                             'Renewable-electricity-generating-capacity-per-capita': 'Renewable electricity generating Capacity Per Person',
                             'Value_co2_emissions_kt_by_country': 'co2 Emissions (metric tons per capita)'}, inplace=True)
global2019["co2 Emissions (metric tons per capita)"]= global2019["co2 Emissions (metric tons per capita)"].round(0)

global2019

,Country,Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),co2 Emissions (metric tons per capita),Latitude,Longitude
19,Afghanistan,18.51,0.18,0.0,0.89,83.177570,802.61255,6080.0,33.939110,67.709953
40,Albania,NaN,0.00,0.0,5.17,100.000000,11585.55500,4830.0,41.153332,20.168331
61,Algeria,0.16,75.85,0.0,0.84,1.095319,16259.05300,171250.0,28.033886,1.659626
82,Angola,54.69,4.38,0.0,11.02,71.558440,3667.42380,25210.0,-11.202692,17.873887
103,Antigua and Barbuda,0.91,0.33,0.0,0.01,2.941176,33027.51600,520.0,17.060816,-61.796428
...,...,...,...,...,...,...,...,...,...,...
3563,Uzbekistan,1.57,53.64,0.0,6.47,10.763600,16212.22100,116710.0,41.377491,64.585262
3584,Vanuatu,31.86,0.05,0.0,0.02,28.571428,3154.47170,210.0,-15.376706,166.959158
3605,Yemen,3.11,2.93,0.0,0.48,14.076246,1475.98520,NaN,15.552727,48.516388
3626,Zambia,84.50,2.05,0.0,12.62,86.025900,2983.88160,6800.0,-13.133897,27.849332
3647,Zimbabwe,81.50,3.66,0.0,4.58,55.582527,3003.65530,11760.0,-19.015438,29.154857

In [9]:
#merge two dataframes together by Country, thus adding average temp
projectdata1 = pd.merge(avtempsummary, global2019, how="left", on="Country")
projectdata1 = projectdata1.dropna()

In [10]:
projectdata = pd.merge(projectdata1, worldpopulationdata, how="left", on="Country")
projectdata["Renewable energy consumption per capita (kWh/person)"] = projectdata["Primary energy consumption per capita (kWh/person)"].multiply(projectdata["Renewable energy share in the total final energy consumption (%)"])
projectdata["Renewable energy consumption per capita (kWh/person)"] = projectdata["Renewable energy consumption per capita (kWh/person)"].div(100)
pd.options.display.float_format = '{:.2f}'.format
projectdata

,Country,Average Temp,Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),co2 Emissions (metric tons per capita),Latitude,Longitude,2020 Population,Renewable energy consumption per capita (kWh/person)
0,Algeria,19.46,0.16,75.85,0.00,0.84,1.10,16259.05,171250.00,28.03,1.66,43451666,26.01
1,Angola,25.89,54.69,4.38,0.00,11.02,71.56,3667.42,25210.00,-11.20,17.87,33428485,2005.71
2,Antigua and Barbuda,26.73,0.91,0.33,0.00,0.01,2.94,33027.52,520.00,17.06,-61.80,92664,300.55
3,Argentina,17.92,10.74,90.56,7.97,34.63,31.99,20725.17,168100.00,-38.42,-63.62,45036032,2225.88
4,Austria,14.14,33.77,16.22,0.00,54.64,77.11,48314.26,64770.00,47.52,14.55,8907777,16315.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,United Arab Emirates,28.66,0.67,125.85,0.00,3.80,2.93,134878.39,188860.00,23.42,53.85,9287289,903.69
99,United Kingdom,10.47,12.24,144.99,56.18,120.48,54.92,32893.76,348920.00,55.38,-3.44,67059474,4026.20
100,United States,15.26,10.42,2588.21,809.41,760.76,37.76,79489.02,4817720.00,37.09,-95.71,335942003,8282.76
101,Uruguay,16.79,60.76,1.89,0.00,14.16,88.22,19985.01,6490.00,-32.52,-55.77,3429086,12142.89
102,Vanuatu,24.09,31.86,0.05,0.00,0.02,28.57,3154.47,210.00,-15.38,166.96,311685,1005.01

In [11]:
projectdata.to_csv(r'./Resources/projectdata.csv')